/* Checkout.css */
.checkout-container {
    padding: 20px;
    background-color: white;
}

.cart-summary {
    margin-bottom: 20px;
}

.cart-item-summary {
    display: flex;
    justify-content: space-between;
}
