.listing-container {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: whitesmoke;
    text-align: center;
}

.listing-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.listing-content {
    font-size: 1rem;
    color: gray;
    margin-bottom: 5px;
}

.listing-date {
    font-size: 1rem;
    color: gray;
    margin-bottom: 5px;
}

.listing-image {
    width: 100%;
    height: 300px; 
    object-fit: contain; 
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 10pt;
}

button{
    margin-right: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}